    body{
            background-color: rgb(0, 0, 0);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        h1{
            color: chartreuse;
        }
        h2{
            color: cadetblue;
        }
        p {
            color: aqua;
        }